<div class="container">
  <div class="row">
    <div class="col-5 mx-auto">
      <h3 class="bg-primary text-white p3">
        {{getName() }} To Do List
      </h3>
      <div class="input-group mb-3">
        <input #txtAdd type="text" class="form-control" (keyup.enter)="addItem(txtAdd.value);txtAdd.value=''">
        <button class="btn btn-outline-primary" (click)="addItem(txtAdd.value); txtAdd.value=''">Add</button>
      </div>
      <div class="form-check mb-3">
        <input type="checkbox" [(ngModel)]="displayAll" class="form-check-input" id="displayAll">
        <label for="displayAll" class="form-check-label">Hepsini Göster</label>
      </div>
      <div class="my-2">
        {{displayCount()}} görev tamamlandı.
      </div>
      <div class="alert alert-warning" *ngIf="getItems().length == 0 else itemsTable">
        Tüm Görevler Tamamlandı
      </div>
      <ng-template #itemsTable>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th></th>
              <th>Description</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of getItems(); let i =index;">
              <td>{{i+1}}</td>
              <td>{{item.description}}</td>
              <td>
                <!-- <div *ngIf="item.actions">Yes</div>
				  <div *ngIf="!item.actions">No</div> -->

                <!-- <div [ngSwitch]="item.actions">
                  <div *ngSwitchCase="true">Yes</div>
                  <div *ngSwitchDefault>No</div>
                </div>
              </td> -->

                <!-- if-then-else bloğu -->

                <div *ngIf="item.actions; then yesTemplate else noTemplate ">
                  Burası gösterilmez
                </div>
                <ng-template #noTemplate>
                  No
                </ng-template>
                <ng-template #yesTemplate>
                  Yes
                </ng-template>

              <td><input type="checkbox" [(ngModel)]="item.actions">

              </td>
            </tr>
          </tbody>
        </table>
      </ng-template>

    </div>
  </div>
</div>
